.game_details {
  padding: 1em;
}
.game_details_screenshots {
  margin-top: 1em;
  flex-grow: 1;
}

.game_details_main {
  text-align: justify;
  font-size: 1.2rem;
}

.main_image_wrapper img {
  width: 100%;
  object-fit: contain;
}

.game_title {
  grid-column: 1/3;
}

.game_details_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-content: center;
  justify-content: center;
  gap: 1em;
}

.game_details_main_image {
  margin: 1em 0 1em 0;
}

.main_image_container {
  width: 100%;
}

.game_details_about,
h3,
p {
  margin-bottom: 1em;
}

.game_details_right_panel {
  max-width: 480px;
  min-width: 480px;
}

@media screen and (min-width: 1920px) {
}

@media screen and (max-width: 1920px) {
}
@media screen and (max-width: 1366px) {
}

@media screen and (max-width: 1007px) {
}

@media screen and (max-width: 979px) {
}
