.games_list {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.games_list_container {
  display: grid;
  margin: 1em;
  grid-row: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template-rows: masonry; */
  grid-template-rows: masonry;
  padding: 1em;
  gap: 1em;
}

.game_card {
  transition: 200ms;
  display: block;
  min-width: 200px;
  min-height: 200px;
  background: var(--clr-primary-dark);
}

.game_card_info {
  padding: 1em;
}

.game_card_more_section {
  display: none;
}

.game_card_image_container {
  transition: all 1500ms;
}

.image_wrapper img {
  width: 100%;
  height: 100%;
}

.game_card_image_container {
  height: 0;
  padding-bottom: 56%;
  overflow: hidden;
}

.game_card_platforms {
  display: flex;
}

.game_card_platform_image {
  margin-right: 0.5em;
}

.positive_icon,
.negative_icon {
  margin-right: 0.5em;
}

.show_more_container {
  transform: scale(1.02);
  z-index: 6;
  width: 100%;
  top: 0;
  left: 0;
  border: solid 0.1em white;
  position: absolute;
}

.show {
  transition: all 200ms;
  display: block;
  width: 100%;
  z-index: 9;
}

.row_element {
  display: flex;
  justify-content: center;
}

.ratings_positive,
.ratings_negative {
  display: flex;
  margin-right: 0.5em;
}

.game_list_visor {
  display: flex;
  width: 100%;
  align-self: center;
  justify-content: center;
  margin-bottom: 1em;
}

/* @media screen and (max-width: 1457px) {
  .games_list_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 980px) {
  .games_list_container {
    grid-template-columns: repeat(auto-fit, 1fr);
  }
}

@media screen and (max-width: 750px) {
  .games_list_container {
    grid-template-columns: 1fr;
  }
  .show {
    display: none;
  }
  .show_more_container {
    transform: scale(1);
    border: none;
    position: static;
  }
}

 */

@media screen and (max-width: 3000px) and (min-width: 2000px) {
  .games_list_container {
    grid-template-columns: repeat(5, 1fr);
  }
}
